<main class="main-user">
  <header class="user-header">
    <h1 class="df df_alc fw_bigue">Minha conta</h1>
  </header>
  <div class="content-form-user df">
    <nav class="sidebar fw_light df df_fdc">
      <a href="/account/register" class="hover-list selected">Cadastro</a>
      <%= link_to "Alterar Senha", edit_user_registration_path, class: "hover-list" %>
      <a href="/account/favorites" class="hover-list">Favoritos</a>
    </nav>
    
    <div class="content-form">
      <section class="section-registration">
        <header>
          <h2 class="form-title">Alterar senha</h2>
        </header>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-name-user', html: { method: :put }) do |f| %>
          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Insira a sua senha atual", id: 'current_password' %>
          </div>

          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Insira uma nova senha", id: "new_password" %>
          </div>

          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme a sua nova senha", id: "confirm_password" %>
          </div>

          <div class="button-edit-user button-edit-password w-input">
            <%= f.button "Alterar cadastro", type: "submit", class: "fw_light" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</main>
