<h1>Registar</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-control input-file">
    <%= f.label :avatar do %>
      <%= image_tag('upload.svg') %>
    <% end %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-control form-registration">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  
  <div class="form-control form-registration">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", required: true %>
  </div>

  <div class="form-control form-registration">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="form-control form-registration">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>

  <%= f.submit "Sign up", class: 'btn btn-registration' %>
<% end %>

<%= render "devise/shared/links" %>
