<div class="nav-options">
  <% if user_signed_in? %>
    <div class="content-options desable-options-desk">
      <ul class="menu-user">
        <li class="hover-list">
          <%= link_to accounts_register_path do %>
            <%= image_tag(current_user.avatar_thumbnail, alt: "user", class: "user_avatar") %>
            <span>Minha Conta</span>
          <% end %>
        </li>
        <li class="hover-list">
          <a href="">
            <%= image_tag('heart.svg', alt: "heart") %>
            <span>Favoritos</span>
          </a>
        </li>
        <li class="hover-list">
          <%= link_to destroy_user_session_path do %>
            <%= image_tag('logout.svg', alt: "logout") %>
            <span>Sair</span>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
  <div class="content-options">
    <h2>Gênero</h2>
    <ul class="menu-options">
      <% @categories.each do |category| %>
        <li class="hover-list">
          <%= link_to do %>
            <span><%= category.category %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="content-options">
    <h2>Populares</h2>
    <ul class="menu-options">
      <li class="hover-list">
        <a href="">
          <span>Novidades</span>
        </a>
      </li>
      <li class="hover-list">
        <a href="">
          <span>Top 10</span>
        </a>
      </li>
      <li class="hover-list">
        <a href="">
          <span>Recomendados</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="nav-options-mobile">
  <div class="content-options">
    <div class="nav-exit"></div>

    <h2>Gêneros</h2>
    <ul class="menu-options">
      <li class="hover-list">
        <a href="">
          <span>Ação</span>
        </a>
      </li>
      <li class="hover-list">
        <a href="">
          <span>Aventura</span>
        </a>
      </li>
      <li class="hover-list">
        <a href="">
          <span>Clássicos</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="nav-search-mobile">
  <div class="nav-exit"></div>

  <div class="search-mobile">
    <%= form_with url: search_movies_path, method: :get, local: true, class: 'search-form-mobile' do |f| %>
      <%= f.text_field :q, class: "input", required: true, placeholder: "Filmes, séries, shows..." %>
      <%= f.button "Buscar", type: "submit" %>
    <% end %>
    <div class="btn-mobile">
      <%= image_tag('search.svg', alt: 'search', class: 'magnifying-glass') %>
    </div>
  </div>
  
</div>
