<main class="main-movie-details">
  <div class="main-movie-details-content">
    <div class="video-play-container">
      <div class="movie-config mobile-video-play">
        <video loop muted class="video">
          <source src="<%= @movie.background_video %>" type="video/mp4">
        </video>

        <%# <div class="play">
          <div></div>
        </div> %>
        
        <%= image_tag(@movie.background_image, class: "movie-image movie-image-mobile", alt: @movie.title)%>
      </div>
    </div>

    <div class="button-video-play">
      <button type="button" class="play-start-movie">
        <%= image_tag('play.svg', alt: 'play') %>
      </button>
      
      <button type="button" class="button-audio">
        <%= image_tag('volume.svg', alt: 'volume') %>
      </button>

      <button type="button" class="display-details">
        <%= image_tag('display.svg', alt: 'display') %>
      </button>
    </div>

    <div class="movie-infos">
      <div class="content-infos">
        <div class="details-header">
          <h1><%= @movie.title %></h1>
          <p>(<%= @movie.title_producer %>)</p>
        </div>
        
        <div class="details video-details-duration">
          <p>2010</p>
          <p>Estados Unidos</p>
          <p>88 minutos</p>
        </div>

        <%# <div class="validation-movie">
          <span>x</span>
          <span>x</span>
          <span>x</span>
          <span>x</span>
          <span>x</span>
        </div> %>
        <% unless user_signed_in? %>
          <div class="favorite-movie">
            <button type="button" class="like">
              <%= link_to new_user_session_path do %>
                <%= image_tag 'like.svg', alt: 'like' %>
              <% end %>
            </button>
            <span>(Adicionar aos favoritos)</span>
          </div>
        <% else %>
          <div
            class="favorite-movie"
            data-movie-id="<%= @movie.id %>"
            data-favorite-id="<%= @movie.favorites.find_by(user_id: current_user.id)&.id %>"
          >
            <button type="button" class="like <%= @movie.liked_by?(current_user.id) ? 'hidden' : '' %>">
              <%= image_tag 'like.svg', alt: 'like' %>
            </button>

            <button type="button" class="deslike <%= @movie.liked_by?(current_user.id) ? '' : 'hidden' %>">
              <%= image_tag 'liked.svg', alt: 'liked' %>
            </button>
            <span>(Adicionar aos favoritos)</span>
          </div>
        <% end %>
        <div class="category-movie">
          <% @movie.categories.each do |category| %>
            <span><%= category.category %>,</span>
          <% end %>
        </div>

        <div class="movie-language">
          <p>Dublado | HD</p>
          <p>Português</p>
        </div>

        <div class="description-movie">
          <p><%= @movie.description %></p>
        </div>

        <div class="actors-movie">
          <h3>Atores</h3>
          <ul>
            <% @movie.actors.each do |actor| %>
              <li>
                <%= link_to movies_search_name_path(actor.name) do %>
                  <%= actor.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="directors-movie">
          <h3>Diretores</h3>
          <ul>
            <% @movie.directors.each do |director| %>
              <li>
                <%= link_to movies_search_name_path(director.name) do %>
                  <%= director.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <% unless user_signed_in? %>
          <div class="button-add-movie">
            <div>
              <%= link_to new_user_session_path do %> 
                <button type="button" class="to-hire">ALUGAR AGORA</button>
              <% end %>
            </div>
          </div>
        <% else %>
          <div
            class="button-add-movie"
            data-rent-movie-id="<%= @movie.id %>"
            data-rent-id="<%= @movie.rents.find_by(user_id: current_user.id)&.id %>"
          >
            <div>
              <button type="button" class="to-hire" <%= 'disabled' if current_user.rents.count == 3 %>>
                <% if @movie.rent_by?(current_user.id) %>
                  Entregar em 3 dias
                  <span class="date-time-rent">
                    (<%= time_ago_in_words(@movie.rent_by_date?(current_user.id, @movie.id)) %>)
                  </span>
                <% else %>
                  <%= current_user.rents.count < 3 ? 'ALUGAR AGORA' : 'Limite de aluguéis foi alcançado' %>
                <% end %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>

<section class="swiper-cards">
  <div class="swiper mySwiperCard">
    <a>
      <header>
        <h2>Você também pode gostar</h2>
      </header>
    </a>
    <div class="swiper-wrapper">
      <% search_movie_by_category(@movie.categories[0].id).each do |movie| %>
        <div class="swiper-slide slide-card">
          <%= link_to media_movie_path(movie.id, movie.title) do %>
            <%= image_tag(movie.card_image, alt: movie.title) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
