<nav class="nav-user">
  <ul class="menu-user">
    <li class="hover-list">
      <%= link_to accounts_register_path do %>
        <% if user_signed_in? %>
          <%= image_tag(current_user.avatar_thumbnail, alt: "user", class: "user_avatar") %>
        <% end %>
        <span>Minha Conta</span>
      <% end %>
    </li>
    <li class="hover-list">
      <%= link_to favorites_path do %>
        <%= image_tag('like.svg', alt: "heart") %>
        <span>Favoritos</span>
      <% end %>
    </li>
    <li class="hover-list">
      <%= link_to destroy_user_session_path do %>
        <%= image_tag('logout.svg', alt: "logout") %>
        <span>Sair</span>
      <% end %>
    </li>
  </ul>
</nav>
