<main class="main-user">
  <header class="user-header">
    <h1 class="df df_alc fw_bigue">Minha conta</h1>
  </header>
  <div class="content-form-user df">
    <%= render 'aside/nav_content' %>
    
    <div class="content-form">
      <section class="section-registration">
        <header>
          <h2 class="form-title">Alterar senha</h2>
        </header>

        <%= form_with model: current_user, url: profile_password_path, local: true, class: 'form-name-user' do |f| %>
          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :current_password %>
            <%= f.password_field :current_password,
              autocomplete: "current-password",
              placeholder: "Insira a sua senha atual",
              id: 'current_password'
            %>
          </div>

          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :password %>
            <%= f.password_field :password,
              autocomplete: "new-password",
              placeholder: "Insira uma nova senha",
              id: "new_password"
            %>
          </div>

          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation,
              autocomplete: "new-password",
              placeholder: "Confirme a sua nova senha",
              id: "confirm_password"
            %>
          </div>

          <div class="button-edit-user button-edit-password w-input">
            <%= f.button "Alterar cadastro", type: "submit", class: "fw_light" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</main>
