<main class="main-user">
  <header class="user-header">
    <h1 class="df df_alc fw_bigue">Minha conta</h1>
  </header>
  <div class="content-form-user df">
    <%= render 'nav_content' %>
    
    <div class="content-form">
      <section class="section-registration">
        <header>
          <h2 class="form-title">Dados de cadastro</h2>
        </header>
        <p>Email: <span><%= current_user.email %></span></p>

        <%= form_with model: current_user, url: profile_name_path, local: true, class: 'form-name-user' do |f| %>
          <div class="input-name-form-user w-input df df_fdc">
            <%= f.label :name %>
            <%= f.text_field :name,
              value: current_user.name,
              autocomplete: "new-password",
              placeholder: "Informe o seu nome",
              disabled: true,
              id: :name
            %>

          </div>
          <div class="button-registration-user">
            <%= f.button "Alterar cadastro", type: "submit", class: "fw_light" %>
          </div>
        <% end %>
        <button type="button" id="habilit-input-edit">Cancelar</button>
      </section>
      <section class="section-address">
        <header>
          <h2 class="form-title">Dados de endereço</h2>
        </header>

        <form class="form-address-user">
          <div class="df df_fdc cep input-name-form-user">
            <label for="information-cep">CEP*:</label>
            <div>
              <input
                disabled
                type="text"
                placeholder="Insira o seu CEP"
                id="information-cep"
                maxlength="8"
                class="disable"
              >
              <button type="button" class="buttons-desable search-cep">Buscar</button>
            </div>
          </div>

          <div class="df w-input">
            <div class="df df_fdc input-address-c1 w-input input-name-form-user">
              <label for="information-city">Cidade</label>
              <input type="text" disabled id="information-city" class="disable" placeholder="Cidade">
            </div>

            <div class="df df_fdc input-address-c2 w-input input-name-form-user">
              <label for="information-state">Estado</label>
              <input type="text" disabled id="information-state" class="disable" placeholder="Estado">
            </div>
          </div>

          <div class="df w-input">
            <div class="df df_fdc input-address-c1 input-name-form-user">
              <label for="information-address">Endereço</label>
              <input type="text" disabled id="information-address" class="disable" placeholder="Endereço">
            </div>

            <div class="df df_fdc input-address-c2 input-name-form-user">
              <label for="information-number">Número</label>
              <input type="text" disabled id="information-number" class="disable" placeholder="Número">
            </div>
          </div>

          <div class="df df_fdc complement w-input input-name-form-user">
            <label for="information-complement">Complemento</label>
            <input type="text" disabled id="address-complement" class="disable" placeholder="Complemento">
          </div>

          <div class="button-edit-user buttons-desable w-input">
            <button type="button" class="fw_light">Alterar cadastro</button>
          </div>
        </form>
        <button type="button" id="habilit-inputs-edit">Cancelar</button>
      </section>
    </div>
  </div>
</main>
